* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --goldColor: #f9ec31;
}

body {
    background: #0F2027;
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
}