#Gallery .item{
    position: relative;
    width: 250px;
    height: 250px;
    margin: auto;
}

#Gallery .item img{
    transition-duration: 0.5s;
}

#Gallery .item:hover img{
    transform: scale(1.2);
}

#Gallery .item .layout{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    opacity: 0;
    transition-duration: 0.5s;
}

#Gallery .item:hover .layout{
    opacity: 1;
}

#Gallery .item i{
    transition-duration: 0.5s;
    cursor: pointer;
}

#Gallery .item i:hover{
    transform: rotate(180deg);
    color: var(--goldColor);
}

.popup{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition-duration: 0.5s;
    z-index: -1;
}

.popup .show{
    opacity: 1;
    z-index: 1;
}

.popup .box{
    width: 500px;
    height: 500px;
    position: relative;
}

.popup .box i ,
.popup .box .indicators {
    position: absolute;
}

.popup .box i ,
.popup .box li{
    width: 32px;
    height: 32px;
    background: #0F2027;
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--goldColor);
    cursor: pointer;
}

.popup .box i.close{
    top: 20px;
    right: 20px;
}

.popup .box i.next,
.popup .box i.prev{
    top: 50%;
    transform: translateY(-50%);
}

.popup .box i.next{
    right: 20px;
}

.popup .box i.prev{
    left: 20px;
}

.popup .box .indicators{
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.popup .box .indicators ul{
    display: flex;
}

.popup .box li.active{
    background: #fff;
}

